<h1>Dashboard</h1>
<p> Welcome <%= user.userName %></p>

<a href="/chathall/chatroom-<%= user.userName %>">Chat</a>
<a href="/logintuto/users/logout">Logout</a>

<!-- Well deleting works now, but it might not be the safest option. -->
<form action="/logintuto/users/<%= user.userName %>/dashboard" method="POST" style="display:inline;">
    <input type="hidden" name="email" value="<%= user.email%>">
    <input type="submit" value="Delete Account">
</form>