<h1>Dashboard</h1>
<p> Welcome <%= user.userName %></p>
<a href="/logintuto/users/logout">Logout</a>

<!-- jää selainhistoriaan -->
<!-- 
<a href="/logintuto/users/dashboard/<%= user.email %>">Delete account</a>
-->
