<h1> Login </h1>
<%- include ('./partials/messages') %>
<form action="/logintuto/users/login" method="POST">

<div hidden>
<label for="game">game</label>
<input
type="text"
name="game"
value="playGameofUr"
/>
</div>

<div>
    <label for="gamecode">Gamecode</label>
    <input
      type="password"
      name="gamecode"
      placeholder="Enter Gamecode"
    />
  
</div>
<button type="submit" class="btn btn-primary btn-block">Login</button>
</form>

<p>Don't have an account? <a href="/logintuto/users/register">Register</a></p>
