<h1>Start A Game of Ur</h1>
<p>
	Press the 'Generate gamecode' button to create a new game of Game of Ur
	and share the code with your friend. <br>There can be two players
	in one game.
</p>

<%- include('./partials/messages') %>
<form action="/logintuto/users/register" method="POST">
	<button type="Submit">Generate gamecode</button>
</form>

<!-- Piilota t채m채 ja n채yt채, kun pelikoodi on luotu. -->
<!-- If gamecode is not undefined show gamecode, else show nothing as gamecode. -->
<p>
	Your gamecode is <%= typeof gamecode != 'undefined' ? gamecode : '' %>
	<a href="pelin osoite">Start the game.</a>
</p>

<p>
	Already have a code? <a href="login osoite">Join the game.</a>
</p>
