<h1>Uruk</h1>
	<div id="game-of-ur">
	
		<div id="dice">
			<p id="dice-value">0</p>
			<button type="button" id="dice-btn">Throw dice</button>
		</div>
		
		<div class="player-booth" id="red-booth">
			<p id="uruk">Uruk</p>
			<ul class="booth-stats">
				<li>Pieces in Booth:</li>
				<li class="pieces-in-booth">7</li>
				<li>|</li>
				<li>Pieces at Home:</li>
				<li class="pieces-at-home">0</li>
				<!-- Muista, että oikeassa sovelluksessa yksi nappi riittää. -->
				<li class="end-turn-btn"></li>
			</ul>
			<ul class="game-pieces" id="red-pieces">
				<li><img src="/images/royalgameofur/red-piece.png" alt="red-piece"></li>
				<li><img src="/images/royalgameofur/red-piece.png" alt="red-piece"></li>
				<li><img src="/images/royalgameofur/red-piece.png" alt="red-piece"></li>
				<li><img src="/images/royalgameofur/red-piece.png" alt="red-piece"></li>
				<li><img src="/images/royalgameofur/red-piece.png" alt="red-piece"></li>
				<li><img src="/images/royalgameofur/red-piece.png" alt="red-piece"></li>
				<li><img src="/images/royalgameofur/red-piece.png" alt="red-piece"></li>
			</ul>
		</div>
		
		<table id="game-board">
			<tr>
				<td class="out"><div class="triangle-down align-right"></div></td>
				<td class="rosette" id="1"><img src="/images/royalgameofur/rosette.png" alt="rosette"></td>
				<td id="2"><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
				<td id="3"><img src="/images/royalgameofur/balls.png" alt="balls"></td>
				<td id="4"><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
				<td class="out">start<div class="triangle-left" title="red"></div></td>
				<td class="out home" id="red-home">home<div class="triangle-left align-right"></div></td>
				<td class="rosette" id="7"><img src="/images/royalgameofur/rosette.png" alt="rosette"></td>
				<td id="8"><img src="/images/royalgameofur/fourth.png" alt="fourth"></td>
				<td class="out"><div class="triangle-left"></div></td>
			</tr>
			<tr>
				<td class="out"><div class="triangle-right align-right"></div></td>
				<td id="11"><img src="/images/royalgameofur/boxes.png" alt="boxes"></td>
				<td id="12">
					<img src="/images/royalgameofur/balls.png" alt="balls">
					<img class="game-piece black" src="/images/royalgameofur/black-piece.png" alt="black-piece">
				</td>
				<td id="13"><img src="/images/royalgameofur/fourths.png" alt="fourths"></td>
				<td class="rosette haven" id="14"><img src="/images/royalgameofur/rosette.png" alt="rosette"></td>
				<td id="15"><img src="/images/royalgameofur/balls.png" alt="balls"></td>
				<td id="16"><img src="/images/royalgameofur/fourths.png" alt="fourths"></td>
				<td id="17"><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
				<td id="18"><img src="/images/royalgameofur/balls.png" alt="balls"></td>
				<td class="out">
					<div class="triangle-up"></div>
					<br>
					<div class="triangle-down"></div>
				</td>
			</tr>
			<tr>
				<td class="out"><div class="triangle-up align-right"></div></td>
				<td class="rosette" id="21"><img src="/images/royalgameofur/rosette.png" alt="rosette"></td>
				<td id="22"><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
				<td id="23"><img src="/images/royalgameofur/balls.png" alt="balls"></td>
				<td id="24"><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
				<td class="out">start<div class="triangle-left"></div></td>
				<td class="out home" id="black-home">home<div class="triangle-left align-right"></div></td>
				<td class="rosette" id="27"><img src="/images/royalgameofur/rosette.png" alt="rosette"></td>
				<td id="28"><img src="/images/royalgameofur/fourth.png" alt="fourth"></td>
				<td class="out"><div class="triangle-left"></div></td>
			</tr>
		</table>
		
		<div class="player-booth" id="black-booth">
			<p id="akkad">Akkad</p>
			<ul class="booth-stats">
				<li>Pieces in Booth:</li>
				<li class="pieces-in-booth" id="black-pieces-in-booth">6</li>
				<li>|</li>
				<li>Pieces at Home:</li>
				<li class="pieces-at-home">0</li>
				<!-- Muista, että oikeassa sovelluksessa yksi nappi riittää. -->
				<li class="end-turn-btn"></li>
			</ul>
			<ul class="game-pieces" id="black-pieces">
				<li><img src="/images/royalgameofur/black-piece.png" alt="black-piece"></li>
				<li><img src="/images/royalgameofur/black-piece.png" alt="black-piece"></li>
				<li><img src="/images/royalgameofur/black-piece.png" alt="black-piece"></li>
				<li><img src="/images/royalgameofur/black-piece.png" alt="black-piece"></li>
				<li><img src="/images/royalgameofur/black-piece.png" alt="black-piece"></li>
				<li><img src="/images/royalgameofur/black-piece.png" alt="black-piece"></li>
<!-- 				<li><img src="/images/royalgameofur/black-piece.png" alt="black-piece"></li> -->
			</ul>
		</div>
		
	</div>