<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Worm Game</title>
    <link rel="stylesheet" href="/css/worm-game.css" />
  </head>
  <body onload="startGame()">
    <div id="worm-game">
      <h1>Classic Worm Game</h1>
      <p>
        Stay inside the walls and grow your score. Use arrow keys to move the
        worm.
      </p>
      <canvas id="game-board"></canvas>
      <p id="score-board"></p>
      <p id="message-board"></p>
    </div>
    <script src="/js/worm-game.js"></script>
  </body>
</html>
