<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Worm Game</title>
<link rel="stylesheet" href="/css/wormGame.css">
</head>
<body onload="startGame()">
	<div id="wormGame">
		<h1>Classic Worm Game</h1>
		<p>Stay inside the walls and grow your score. Use arrow keys to move the worm.</p>
		<canvas id="gameBoard"></canvas>
		<p id="scoreBoard"></p>
		<p id="msgBoard"></p>
	</div>
	<script type="text/javascript" src="/js/wormGame.js"></script>
</body>
</html>
