@charset "UTF-8";

#game-board {
  position: relative;
  border-collapse: collapse;
  text-align: center;
}

#game-board td {
  background-color: #ffe7ab;
  border: 5px solid #335b96;
  height: 90px;
  justify-content: center;
  position: relative;
  width: 90px;
}

#game-board td img {
  left: 0;
  margin: auto;
  top: 0;
}

#game-board .out {
  background-color: white;
  border: none;
}

.booth-stats li {
  display: inline;
  padding-right: 0.6em;
}

.game-pieces {
  height: 50px;
  list-style-type: none;
}

.game-pieces li {
  display: inline;
  position: relative;
}

.game-pieces li img {
  clip-path: circle(100%);
  left: 0;
  margin: auto;
  top: 0;
  width: 50px;
}

.game-piece {
  position: absolute;
  z-index: 1;
}

.triangle-up {
  border-bottom: 15px solid #555;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 0;
}

.triangle-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #555;
  height: 0;
  width: 0;
}

.triangle-right {
  border-bottom: 20px solid transparent;
  border-left: 15px solid #555;
  border-top: 20px solid transparent;
  height: 0;
  width: 0;
}

.triangle-left {
  border-bottom: 20px solid transparent;
  border-right: 15px solid #555;
  border-top: 20px solid transparent;
  height: 0;
  width: 0;
}

.align-right {
  margin-left: auto;
}

#dice {
  position: absolute;
  right: 220px;
  top: 300px;
}

#dice-btn {
  background-color: green;
  color: white;
}

/* #dice-value { */
/* 	color: blue;	 */
/* } */
