<!DOCTYPE html>
<html>
	<head>
		<title>foobar</title>
	</head>
	<body>
			<table>
				<tr>
					<td><img src="/images/royalgameofur/flower.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/balls.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
					<td class="Out"></td>
					<td class="Out"></td>
					<td><img src="/images/royalgameofur/flower.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/fourth.png" alt="eyes"></td>
				</tr>
				<tr>
					<td><img src="/images/royalgameofur/boxes.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/balls.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/fourths.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/flower.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/balls.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/fourths.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/balls.png" alt="eyes"></td>
				</tr>
				<tr>
					<td><img src="/images/royalgameofur/flower.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/balls.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/eyes.png" alt="eyes"></td>
					<td class="Out"></td>
					<td class="Out"></td>
					<td><img src="/images/royalgameofur/flower.png" alt="eyes"></td>
					<td><img src="/images/royalgameofur/fourth.png" alt="eyes"></td>
				</tr>
			</table>
		<style>
			table {
				border-collapse: collapse;
				text-align: center;
			}
			
			td {
				background-color: #FFE7AB;
				width: 90px;
				height: 90px;
				border: 5px solid #335B96;
				
			}
			
			td img {
				display: block;
				margin: auto;
			}
			
			.Out {
				background-color: white;
				border: none;
			}
		</style>
	</body>
</html>
